@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Exo 2", sans-serif;
}
.russo {
  font-family: "Russo One", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@layer base {
  .container {
    @apply max-w-lg mx-auto px-2 py-4 md:py-12;
  }
  .light {
    @apply bg-gray-200 text-slate-800;
  }
  .dark {
    @apply bg-black text-white;
  }
}
